<div class="main-content-area">
  <div class="main-content-container">
    <div class="main-content">
      <div class="row">
        <div class="col-md-3">
          <div class="card text-center">
            <div class="card-body">
              <h1><%= @user_count %></h1>
              <p><small><strong>ПОЛЬЗОВАТЕЛЕЙ</strong></small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>