<ul class="navbar-nav navbar-nav-scroll">
  <!-- Nav item 1 Demos -->
  <li class="nav-item dropdown mx-2">
    <a class="nav-link" href="index-5.html#" id="demoMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Категории </a>
    <ul class="dropdown-menu dropdown-menu-start dropdown-width-lg" data-bs-popper="none" aria-labelledby="demoMenu">
      <div class="row p-4">
        <!-- Dropdown column item -->
        <div class="col-xl-6 col-xxl-4 mb-4">
          <h6 class="mb-0">Категория</h6>
          <hr> <!-- Divider -->
          <ul class="list-unstyled">
            <li> <a class="dropdown-item" href="index-4.html#">Суб категория</a> </li>
            <li> <a class="dropdown-item" href="index-4.html#">Суб категория</a> </li>
            <li> <a class="dropdown-item" href="index-4.html#">Суб категория</a> </li>
          </ul>
        </div>
        <!-- Dropdown column item -->
        <div class="col-xl-6 col-xxl-4 mb-4">
          <h6 class="mb-0">Категория</h6>
          <hr> <!-- Divider -->
          <ul class="list-unstyled">
            <li> <a class="dropdown-item" href="index-4.html#">Суб категория</a> </li>
            <li> <a class="dropdown-item" href="index-4.html#">Суб категория</a> </li>
            <li> <a class="dropdown-item" href="index-4.html#">Суб категория</a> </li>
          </ul>
        </div>
         <!-- Dropdown column item -->
        <div class="col-xl-6 col-xxl-4 mb-4">
          <h6 class="mb-0">Категория</h6>
          <hr> <!-- Divider -->
          <ul class="list-unstyled">
            <li> <a class="dropdown-item" href="index-4.html#">Суб категория</a> </li>
            <li> <a class="dropdown-item" href="index-4.html#">Суб категория</a> </li>
            <!-- Dropdown submenu -->
            <li class="dropdown-submenu dropend">
              <a class="dropdown-item dropdown-toggle" href="index-4.html#">Суб категория</a>
              <ul class="dropdown-menu dropdown-menu-start" data-bs-popper="none">
                <!-- dropdown submenu open right -->
                <li class="dropdown-submenu dropend z-index-unset">
                  <a class="dropdown-item dropdown-toggle" href="index-4.html#">Суб категория</a>
                  <ul class="dropdown-menu" data-bs-popper="none">
                    <li> <a class="dropdown-item" href="index-4.html#">Суб категория</a> </li>
                  </ul>
                </li>
                <li> <a class="dropdown-item" href="index-4.html#">Суб категория</a> </li>
              </ul>
            </li>
          </ul>
        </div>
         <!-- Dropdown column item -->
        <div class="col-xl-6 col-xxl-4 mb-4">
          <h6 class="mb-0">Категория</h6>
          <hr> <!-- Divider -->
          <ul class="list-unstyled">
            <li> <a class="dropdown-item" href="index-4.html#">Суб категория</a> </li>
            <li> <a class="dropdown-item" href="index-4.html#">Суб категория</a> </li>
            <li> <a class="dropdown-item" href="index-4.html#">Суб категория</a> </li>
          </ul>
        </div>
         <!-- Dropdown column item -->
        <div class="col-xl-6 col-xxl-4 mb-4">
          <h6 class="mb-0">Категория</h6>
          <hr> <!-- Divider -->
          <ul class="list-unstyled">
            <li> <a class="dropdown-item" href="index-4.html#">Суб категория</a> </li>
            <li> <a class="dropdown-item" href="index-4.html#">Суб категория</a> </li>
            <li> <a class="dropdown-item" href="index-4.html#">Суб категория</a> </li>
          </ul>
        </div>
      </div>
    </ul>
  </li>
</ul>
