<ul class="navbar-nav navbar-nav-scroll">
  <!-- Nav item 1 Demos -->
  <li class="nav-item dropdown mx-2">
    <a class="nav-link" href="index-5.html#" id="demoMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <strong>Услуги</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-start dropdown-width-lg" data-bs-popper="none" aria-labelledby="demoMenu">
      <div class="row p-4">
        <!-- Dropdown column item -->
        <div class="col-xl-6 col-xxl-4 mb-4">
          <h6 class="mb-0">Благоустройство</h6>
          <hr> <!-- Divider -->
          <ul class="list-unstyled">
            <li><a class="dropdown-item text-truncate" href="index-4.html#">Видеонаблюдение</a></li>
            <li><a class="dropdown-item text-truncate" href="index-4.html#">Бурение артезианских скважин</a></li>
            <li><a class="dropdown-item text-truncate" href="index-4.html#">Бурение скважин для садоводов</a></li>
            <li><a class="dropdown-item text-truncate" href="index-4.html#">Очистка воды из скважины, колодца и водопроводной воды</a></li>
            <li><a class="dropdown-item text-truncate" href="index-4.html#">Новый летний водопровод из ПНД труб</a></li>
            <li><a class="dropdown-item text-truncate" href="index-4.html#">Канализация для загородной жизни</a></li>
            <li><a class="dropdown-item text-truncate" href="index-4.html#">Копка колодцев </a></li>
            <li><a class="dropdown-item text-truncate" href="index-4.html#">Лицензирование скважин</a></li>
          </ul>
        </div>
        <!-- Dropdown column item -->
        <div class="col-xl-6 col-xxl-4 mb-4">
          <h6 class="mb-0">Бухгалтерия</h6>
          <hr> <!-- Divider -->
          <ul class="list-unstyled">
            <li><a class="dropdown-item" href="index-4.html#">Суб раздел</a></li>
            <li><a class="dropdown-item" href="index-4.html#">Суб раздел</a></li>
            <li><a class="dropdown-item" href="index-4.html#">Суб раздел</a></li>
          </ul>
        </div>
        <!-- Dropdown column item -->
        <div class="col-xl-6 col-xxl-4 mb-4">
          <h6 class="mb-0">Юридические услуги</h6>
          <hr> <!-- Divider -->
          <ul class="list-unstyled">
            <li><a class="dropdown-item" href="index-4.html#">Суб раздел</a></li>
            <li><a class="dropdown-item" href="index-4.html#">Суб раздел</a></li>
            <!-- Dropdown submenu -->
            <li class="dropdown-submenu dropend">
              <a class="dropdown-item dropdown-toggle" href="index-4.html#">Суб раздел</a>
              <ul class="dropdown-menu dropdown-menu-start" data-bs-popper="none">
                <!-- dropdown submenu open right -->
                <li class="dropdown-submenu dropend z-index-unset">
                  <a class="dropdown-item dropdown-toggle" href="index-4.html#">Суб раздел</a>
                  <ul class="dropdown-menu" data-bs-popper="none">
                    <li><a class="dropdown-item" href="index-4.html#">Суб раздел</a></li>
                  </ul>
                </li>
                <li><a class="dropdown-item" href="index-4.html#">Суб раздел</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </ul>
  </li>
</ul>
