<div class="nav my-5 my-xl-0  w-100 px-4 flex-nowrap">
  <div class="nav-item nav-item__search w-100">
    <form class="position-relative">
      <input class="form-control pe-5 bg-transparent" type="search" placeholder="Быстрый поиск" aria-label="Поиск" >
      <button class="btn bg-transparent px-5 py-0 position-absolute top-50 end-0 translate-middle-y" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <i class="bi bi-sliders fs-6"></i>
      </button>
      <div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg shadow rounded">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Расширенный поиск</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
          </div>
        </div>
      </div>
      <button class="btn bg-transparent px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit">
        <i class="fas fa-search fs-6"></i>
      </button>
    </form>
  </div>
</div>
